@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto;
    
}

.search-container {
    position: relative;
}


.demo-card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 5, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
    background-color: #FFDEAD;
}

.field-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: black; */
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    font-size: 16px;
    /* Adjust the font size as needed */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    /* background-color: #2a2a2a; */
}

button[type="submit"] {
    margin-left: 10px;
    /* Add some spacing between the input and button */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    /* background-color: #007bff; */
    color: #fff;
    cursor: pointer;
}
