@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: 1.6;
    letter-spacing: .06em;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}


.c{
    margin: 8px;
}


input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

li {
    list-style: none;
}


/*  */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;

    font: 40px Impact;
}


.card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: -78px;
    height: 40px;
    padding: 5px;

    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    margin: 1px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}


@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}